<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ngosocialapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NgoSocialApp">
        <activity
            android:name=".showEventDetails"
            android:exported="true" />
        <activity
            android:name=".CreateEvent"
            android:exported="true" />
        <activity
            android:name=".ngoEventDetails"
            android:exported="true" />
        <activity android:name=".SelectUserType" />
        <activity android:name=".netbankpay" />
        <activity android:name=".splashAfterTran" />
        <activity android:name=".upiPay" />
        <activity android:name=".debitpay" />
        <activity android:name=".creditPay" />
        <activity android:name=".DonerPayment" />
        <activity android:name=".NgoBank" />
        <activity android:name=".NgoProfileInfo" />
        <activity android:name=".NgoBasicInfo" />
        <activity android:name=".Login" />
        <activity android:name=".registerNGO" /> <!-- <activity android:name=".registerDonor" /> -->
        <activity
            android:name=".registerDonor"
            android:label="@string/title_activity_register_donor" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".welcomeSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>